@model SecretDashboard
<h2>Welcome, @Model.CurrentUser.FirstName</h2>
<form asp-action="Create" asp-controller="Secret" method="post">
    <input type="hidden" asp-for="NewSecret.UserId" value="@Model.CurrentUser.UserId">
    <div class="form-group">
        <label asp-for="NewSecret.Content"></label>
        <span asp-validation-for="NewSecret.Content"></span>
        <textarea class="form-control" asp-for="NewSecret.Content"></textarea>
    </div>
    <button>Submit!</button>
</form>
<hr>
<h2>Recent Secrets!</h2>
@foreach(var secret in Model.RecentSecrets)
{
    if(secret.UserId == Model.CurrentUser.UserId)
    {
        <p>@secret.Content (@secret.CreatedAt) <span>@secret.Likes.Count</span> | <a asp-action="Delete" asp-route-secretId="@secret.SecretId">DELETE</a></p>
    }
    else if(secret.Likes.Any(s => s.UserId == Model.CurrentUser.UserId))
    {
        <p>@secret.Content (@secret.CreatedAt) <span>@secret.Likes.Count</span> | <a asp-action="UnLike" asp-route-secretId="@secret.SecretId">Un-Like</a></p>
    }
    else
    {
        <p>@secret.Content (@secret.CreatedAt) <span>@secret.Likes.Count</span> | <a asp-action="Like" asp-route-secretId="@secret.SecretId">Like</a></p>
    }
}