@model List<Post>
<h1>Check out these posts!</h1>
<a asp-action="New">Add a Post!</a>
<hr>
<h2>Today's Top Poster!</h2>
<p>@ViewBag.TopPoster.FirstName</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Post Id</th>
            <th>User</th>
            <th>Topic</th>
            <th>Content</th>
            <th>Date Created</th>
        <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    @foreach(var post in Model)
    {
        <tr>
            <td>@post.PostId</td>
            <td><a asp-action="Show" asp-controller="Home" asp-route-userId="@post.UserId">@post.Creator.FirstName @post.Creator.LastName</a></td>
            <td>@post.Topic</td>
            <td>@post.Content</td>
            <td>@post.CreatedAt</td>
            <td><a href="/delete/@post.PostId">Delete</a></td>
            <td><a href="/edit/@post.PostId">Edit</a></td>
        </tr>
    }
    </tbody>
</table>